<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTO List</title>
</head>
<body>

<h1>DTO List</h1>

<p>Execution Time: <span th:text="${executionTime}"></span> milliseconds</p>

<div th:text="${count}"></div>


<table border="1">
    <thead>
    <tr>
        <th>Product</th>
        <th>Member</th>
        <th>Level</th>
        <th>Nationality</th>
    </tr>
    </thead>
    <tbody>
    <!-- DTO 리스트 출력 -->
    <tr th:each="time : ${timeList}">
        <td th:text="${time}"></td>
    </tr>
    </tbody>

<!--    <tbody>-->
<!--    &lt;!&ndash; DTO 리스트 출력 &ndash;&gt;-->
<!--    <tr th:each="dto : ${result}">-->
<!--        <td th:if="${dto[0] != null}" th:text="${dto[0]}"></td>-->
<!--        <td th:if="${dto[1] != null}" th:text="${dto[1]}"></td>-->
<!--        <td th:if="${dto[2] != null}" th:text="${dto[2]}"></td>-->
<!--        <td th:if="${dto[3] != null}" th:text="${dto[3]}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
</table>

</body>
</html>